#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
  height: 50px;
  width: 200px;
}

#topNavBar{
    box-shadow: 0px 10px 15px #888888;
    border-radius: 25px;
    background: #8DC582;
    width: 100%;
    height: 48px;
    z-index: 1;
    position:fixed;

}

#route-planner{
    box-shadow: 0px -10px 15px #888888;
    border-radius: 25px;
    background: lightgray;
    width: 100%;

    bottom: 0;
}

#searchRoute{
    box-shadow: 0px 10px 15px #888888;
    border-radius: 25px;
    background: white;
    margin: auto;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
}

#loc-buttons {
  display: table;
  margin: 0 auto;
  padding-bottom: 5%;
}

#loc-buttons button {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  float: left;
  margin-left: 50px;
  background-color: #66B251;
}

#saved-routes {
  display: table;
  margin: 0 auto;
  padding-bottom: 2%;
}

img {
  display: inline-block;
  margin-left: 50px;
  height: 100px;
  width: 100px;
}

#routeInfo{
    box-shadow: 0px 10px 15px #888888;
    border-radius: 25px;
    background: white;
    margin: auto;
    width: 100%;
    margin-top: 1%;

}

#info-route {
  padding-top: 2%;
  display: table;
  margin: 0 auto;

}

#info-route button {
  background-color: #F19317;
  margin: 50px;
}

#owm {
  display: table;
  margin: auto;
  padding-bottom: 2%;
}

h2 {
    font-family: "Roboto Light", sans-serif;
    font-size: 32px;
    color: lightgray;
    margin: 0 auto;
    display: table;
    padding-bottom: 15px;
}

h3{
    font-family: "Roboto Light", sans-serif;
    font-size: 18px;
    color: lightgray;
    margin: 0 auto;
    display: table;
    padding-bottom: 15px;
}

h4{
    font-family: "Roboto Light", sans-serif;
    font-size: 14px;
    color: lightgray;
    padding-bottom: 15px;

}

#weather-icon {
  height: 100px;
  width: 120px;
}

/*Hamburger menu*/

#menu-button{
  background: #8DC582;;
  width: 50px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all linear .3s;
  padding: 4px;
  z-index: 1;
}

#menu-button.active{
  background: #8DC582;;
}
#line-1,#line-2,#line-3{
  width: 90%;
  background: #fff;
  height: 8px;
  margin: 4px auto;
  border-radius: 2px;
  transition: all linear .3s;
}

#line-1.active{
-webkit-transform: translate(0px,12px) rotate(45deg);
transform: translate(0px,12px) rotate(45deg);
}

#line-2.active{
opacity: 0;
}

#line-3.active{
-webkit-transform: translate(0px, -12px) rotate(-45deg);
transform: translate(0px, -12px) rotate(-45deg);
}

#menu{
  background: #8DC582;
  width: 150px;
  padding: 10px;
  padding-top: 30px;
  color: #fff;
  font-family: arial;
  font-size: 1.5rem;
  display: none;
  position: absolute;
  top: 8px;
  border-radius: 5px;
}

#menu ul{
  list-style: none;
  z-index: -1;
}

#menu ul li{
  margin: 8px 0;
}

/*Hamburger end*/
